{% extends "base.html" %}
{% block content %}
    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <h2>افزودن دیدگاه</h2><br>
                {#<div class="product-rate d-inline-block mb-30">#}
                {#                                    </div>#}
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        {#                        <form class="form-contact comment_form" action="{% url 'dashboard:comment_create' %}" method="POST" id="commentForm">#}
                        {#                            <div class="row">#}
                        {#                                <div class="col-12">#}
                        {#                                    <div class="form-group">#}
                        {#                                                            <textarea class="form-control w-100" name="comment"#}
                        {#                                                                      id="comment" cols="30" rows="9"#}
                        {#                                                                      placeholder="نوشتن نظر"></textarea>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="form-group">#}
                        {#                                <br>#}
                        {#                                <button type="submit" class="button button-contactForm">ارسال#}
                        {##}
                        {#                                </button>#}
                        {#                                <br>#}
                        {#                            </div>#}
                        {#                        </form>#}
                       <form class="form-contact comment_form" method="POST" id="commentForm">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control w-100" name="text" id="comment" cols="30" rows="9" placeholder="نوشتن نظر"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <br>
        <button type="submit" class="button button-contactForm">ارسال</button>
        <br>
    </div>
</form>


                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}