{% load static %}

<header class="main-header style-2 navbar">
    <div class="col-brand">
        <a href="index.html" class="brand-wrap">
            <img src="{% static 'assets-back/imgs/theme/logo.svg' %}" class="logo" alt="داشبورد اورا">
        </a>
    </div>
    <div class="col-nav">
        <ul class="nav">
            <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
            <li class="nav-item">
                <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                    <a class="dropdown-item text-brand" href="#"><img src="{% static 'assets-back/imgs/theme/flag-us.png' %}" alt="English">English</a>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="{% static 'assets-back/imgs/people/avatar2.jpg' %}" alt="User"></a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                    <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>نمایه ویرایش</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>تنظیمات حساب</a>
                    <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>کیف پول</a>
                    {% if user.is_authenticated and staff.type == "owner"  %}
                    <a class="dropdown-item" href="{% url 'vendors:create_staff' %}"><i class="material-icons md-receipt"></i>افزودن کارمند</a>
                    {% endif %}
                    <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>مرکز کمک</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="{% url 'accounts:logout' %}"><i class="material-icons md-exit_to_app"></i>خروج</a>
                </div>
            </li>
        </ul>
    </div>
</header>
