{% extends 'base.html' %}

{% block content %}
    <div class="card mb-3 mb-lg-0">
        <div class="card-header">
            <h5 class="mb-0">ویرایش آدرس</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">ذخیره</button>
                <a href="{% url 'customers:profile' %}" class="btn btn-secondary">انصراف</a>
            </form>
        </div>
    </div>
{% endblock %}


