{% extends "base.html" %}
{% load static %}
{% block content %}
    <body>
    <main class="main">
        <section class="product-tabs pt-25 pb-20 wow fadeIn animated">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">

                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">مرتب سازی بر اساس</h5>
                            <ul class="categories">
                                <li><a href="shop-grid-right.html">محبوبیت</a></li>
                                <li><a href="shop-grid-right.html">امتیاز متوسط</a></li>
                                <li><a href="shop-grid-right.html">قیمت: پایین تا بالا</a></li>
                                <li><a href="shop-grid-right.html">قیمت: بالا تا پایین</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                 aria-labelledby="tab-one">
                                <div class="row product-grid-4">
                                    <div class="product-cart-wrap mb-30"><br>
                                        <h3 style="text-align: center"> محصولات فروشگاه {{ shop.name }} </h3>
                                        <br>
                                    </div>
                                </div>

                                <div class="row product-grid-4">
                                    {% for shop_product in shop_products %}
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="{% url 'website:shop-product-detail' shop_product.pk %}">
                                                            <img class="default-img" style="width: 100%;
                                                                                            height: 200px;
                                                                                            max-width: 250px;
                                                                                            max-height: 250px;
                                                                                            object-fit: cover; "
                                                                 src="{{ shop_product.product.get_image_url }}"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="{% url 'dashboard:shop-product-detail' shop_product.id %}">{{ shop_product.product.category }}</a>
                                                    </div>
                                                    <h2>
                                                        <a href="{% url 'website:shop-product-detail' shop_product.pk %}"
                                                           class="grunt-scs"> {{ shop_product.product.name }} </a></h2>
                                                    {% if shop_product.discount %}
                                                        {% if shop_product.discount_type == "FIXED" %}
                                                            <span style="color: red"> تخفیف {{ shop_product.discount }} تومان </span>
                                                        {% else %}
                                                            <span style="color: red"> تخفیف {{ shop_product.discount }} درصد </span>
                                                        {% endif %}
                                                    {% else %}
                                                        <br>
                                                    {% endif %}
                                                    <div class="product-price">
                                                        {% if shop_product.discount %}
                                                            <span>{{ shop_product.get_discounted_price }} تومان</span>
                                                            <span class="old-price">{{ shop_product.price }} تومان</span>
                                                        {% else %}
                                                            <span>{{ shop_product.price }} تومان</span>
                                                        {% endif %}
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <a aria-label="سبدخرید" class="action-btn hover-up add-to-cart"
                                                           data-product-id="{{ shop_product.id }}">
                                                            <i class="fi-rs-shopping-bag-add"></i>
                                                        </a>
                                                    </div>
                                                    {#                                                    <div class="product-action-1 show">#}
                                                    {#                                                        <a aria-label="سبدخرید" class="action-btn hover-up"#}
                                                    {#                                                           href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>#}
                                                    {#                                                    </div>#}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdowns = document.querySelectorAll('.dropdown');

            dropdowns.forEach(function (dropdown) {
                dropdown.addEventListener('mouseover', function () {
                    this.querySelector('.subcategories').style.display = 'block';
                });

                dropdown.addEventListener('mouseout', function () {
                    this.querySelector('.subcategories').style.display = 'none';
                });
            });
        });
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    </body>
{% endblock %}
